@font-face {
  font-family: 'HSE-Sans';
  src: url('HSESans-Regular.eot');
  src: url('HSESans-Regular.woff') format('woff'), url('HSESans-Regular.ttf') format('truetype'), url('HSESans-Regular.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Proxima-Nova';
  src: url('ProximaNova-Regular.eot');
  src: url('ProximaNova-Regular.woff') format('woff'), url('ProximaNova-Regular.ttf') format('truetype'), url('ProximaNova-Regular.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
.calendar-day{
  height: 304px;
  width: 304px;
  flex-flow: nowrap;
  background: #FFFFFF;
  box-shadow: 0px 1px 12px rgba(106, 122, 152, 0.12);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
}
.calendar-day__right-pic {
  margin-top: 26px;
  margin-left: 28px;

}
.calendar-day__left-pic {
  margin-top: 26px;
  margin-right: 28px;
}
.calendar-day__month {
  font-family: Proxima-Nova;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  align-items: center;
  text-align: center;
  color: #6B7A99;
  margin-top: 16px;
  margin-left: 44px;

  padding: 6px 16px;
}
.calendar-day__year {
  font-family: Proxima-Nova;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  color: #6B7A99;
  margin-right: 44px;
  margin-top: 16px;
  padding: 6px 16px;
  text-align: center;
}

.calendar-day__days-of-week_first, .calendar-day__days-of-week_second, .calendar-day__days-of-week_third,  .calendar-day__days-of-week_fourth, .calendar-day__days-of-week_fifth, .calendar-day__days-of-week_sixth, .calendar-day__days-of-week_seventh  {
  width: 32px;
  height: 32px;
  font-family: Proxima-Nova;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  color: #6B7A99;
  display: flex;
  align-items: center;
  justify-content: center;



}


.calendar-day__main__first-week, .calendar-day__main__second-week, .calendar-day__main__third-week, .calendar-day__main__fourth-week, .calendar-day__main__last-week {
  display: flex;
  width: 272px;
  height: 32px;
  margin-left: 16px;
  margin-right: 16px;
  justify-content: space-between;
  flex-direction: raw;
  position: static;


}
.calendar-day__main__first-week div, .calendar-day__main__second-week div, .calendar-day__main__third-week div, .calendar-day__main__fourth-week div, .calendar-day__main__last-week div {
  width: 32px;
  height: 32px;

  font-family: HSE-Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;

}
.calendar-day__main div div:hover  {
  background: #F0F5FF;
  border-radius: 8px;
}

.calendar-day__main div div:focus  {
  border: 2px solid #C2DAFF;
  box-sizing: border-box;
  border-radius: 8px;
  outline: none;
  background: #F0F5FF;


}
.calendar-day__main div div:active {
  background: #0050CF;
  border-radius: 8px;
  color: #EAEAFF;

}
.calendar-day__main__first-week {

  top: 96px;
}
.calendar-day__main__second-week {
  top: 136px;
}
.calendar-day__main__third-week {
  top: 176px;
}
.calendar-day__main__fourth-week {
  top: 216px;
}
.calendar-day__main__last-week {
  top: 256px;
}
.calendar-day__main_today {
  color: #0050CF;
}
.calendar-day__main_wrong-month {
  color: #C0C6D1;
}
.calendar-day__main_inactive {
  background: #F5F6FA;
  border-radius: 8px;
  color: #C0C6D1;
}
.calendar-day__main_in-range {
  background: #F0F5FF;
  border-radius: 8px;
}
.calendar-day__header {
  display: flex;
  justify-content: space-between;
}
.calendar-day__week {
  display: flex;
  margin-right: 16px;
  margin-left: 16px;
  justify-content: space-between;
  margin-top: 18px;

}
..calendar-day__main {
  display: flex;
}
.calendar-day__main div div:hover:focus {
  border: 1px solid #0050CF;
  box-sizing: border-box;
  border-radius: 8px;
  background: #F0F5FF;
}
a {
  text-decoration: none;
  color: inherit;
}


